@import "../../../styles/colors.scss";

.Button {
	width: 150px;
	color: $textColorLight;
	background-color: $primaryColor;
	border: none;
	border-radius: 40px;
	padding: 5px 15px;
	font: inherit;
	cursor: pointer;
	font-size: calc(15px + 1.5vmin);
	box-shadow: 0px 0px 5px 0px gray;
}

.Button:hover,
.Button:focus {
	outline: none;
}

.Button:hover {
	background-color: $secondaryColor;
	transform: scale(1.1);
}

.Active {
	background-color: $secondaryColor;
}
