@import "../../../styles/variables.scss";

.SectionTitle {
  border-bottom: 3px solid $secondaryColor;
  position: absolute;
  top: 3vh;
  text-transform: uppercase;
}

.Light {
  color: $textColorDark;
}

.Dark {
  color: $textColorLight;
}
