@import "../../../styles/variables.scss";

.SectionTitle {
  position: absolute;
  top: 9vh;
  left: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;

  h3 {
    margin: 0;
    border-bottom: 3px solid $secondaryColor;
  }

  h6 {
    margin: 3vh 0 0 0;
  }
}

.LightModeTitle {
  color: $textColorDark;
}

.DarkModeTitle {
  color: $textColorLight;
}

.LightModeSubTitle {
  color: $textColorDark;
}

.DarModeSubtitle {
  color: $secondaryColor;
}
