@import "../../../../../../../styles/variables.scss";

.ProjectCardFront {
  background-color: $sectionBackgroundColorLight;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0px 0px 20px 0px gray;
  border-radius: 30px;
}

.CardHeader {
  background-color: $primaryColor;
  color: $textColorLight;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid $secondaryColor;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  h6 {
    margin: 0;
  }
}

.CardBody {
  background-color: $sectionBackgroundColorLight;
  color: $textColorDark;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: calc(15px + 1.5vmin);
  padding: 2vmin;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  p {
    margin: 0;
  }
}
