@import "../../../../../../../styles/variables.scss";

.ProjectCardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.CardHeader {
  background-color: $primaryColor;
  color: $secondaryColor;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid $secondaryColor;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  h6 {
    margin: 0;
  }
}

.CardBody {
  background-color: $sectionBackgroundColorDark;
  color: $textColorDark;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: calc(15px + 1.5vmin);
  padding: 2vmin;

  p {
    margin: 0;
  }
}
