@import "../../../../../../styles/variables.scss";

.ProjectCardWrapper {
  background-color: transparent;
  width: 300px;
  height: 450px;
  perspective: 1000px;
}

.ProjectCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.ProjectCardWrapper:hover .ProjectCard {
  transform: rotateY(180deg);
}

@media only screen and (max-width: 900px) {
  .ProjectCardWrapper {
    width: 550px;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .ProjectCardWrapper {
    width: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .ProjectCardWrapper {
    width: 350px;
  }
}

@media only screen and (max-width: 400px) {
  .ProjectCardWrapper {
    width: 250px;
  }
}

@media only screen and (max-width: 300px) {
  .ProjectCardWrapper {
    width: 150px;
  }
}
