@import "../../../styles/variables.scss";

.LandingSection {
  background-color: $primaryColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vmin;
  color: $textColorLight;
}

.Highlight {
  color: $secondaryColor;
}
