@import "../../../../styles/variables.scss";

.AboutMeWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: auto;
    color: $primaryColor;
    text-transform: uppercase;
  }
}

.AboutMe {
  margin: 2vmin;
  width: 50%;
  height: 100%;
  border-radius: 40px;
  border-right: 5px solid $secondaryColor;
  border-bottom: 3px solid $secondaryColor;
  box-shadow: 5px 5px 5px 0px gray;

  p {
    padding: 3vmin;
    font-size: calc(15px + 1.5vmin);
    line-height: 4.5vmin;
    text-align: left;
  }
}

@media only screen and (max-width: 1050px) {
  .AboutMeWrapper {
    flex-direction: column-reverse;

    h2 {
      margin-top: 5vmin;
    }
  }

  .AboutMe {
    width: 95%;
    margin: 50px 0;
  }
}

@media only screen and (max-width: 600px) {
  .AboutMe {
    p {
      font-size: calc(20px + 1.5vmin);
      line-height: 30px;
    }
  }
}
