@import "../../../../styles/variables.scss";

.NavItem {
  display: block;
  text-transform: uppercase;
  margin-left: auto;

  a {
    color: $textColorLight;
    font-size: 2.5vmin;
    text-decoration: none;
    width: 100%;
    display: block;
  }

  a:hover,
  a:active,
  a.Active {
    color: $secondaryColor;
  }
}

.Active {
  color: $secondaryColor;
  transition: color 0.5s;
}
