@import "../../../styles/variables.scss";

.AboutSection {
  position: relative;
  background-color: $sectionBackgroundColorDark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: $textColorDark;
}

.AboutSectionContent {
  margin-top: 35vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
