@import "../../../../styles/variables.scss";

.AboutSectionFooter {
  margin: 5vmin;

  a {
    display: inline-block;
    text-decoration: none;
    background-color: $primaryColor;
    color: $textColorLight;
    border-radius: 40px;
    padding: 5px 15px;
    font-size: calc(15px + 1.5vmin);
    box-shadow: 0px 0px 5px 0px gray;
  }

  a:hover {
    background-color: $secondaryColor;
    transform: scale(1.1);
  }
}
