html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 100%;
	font-family: "Raleway", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	input,
	textarea,
	button,
	select,
	a {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}
