@import "../../../../styles/variables.scss";

.SkillsShowcaseWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: auto;
    color: $secondaryColor;
    text-transform: uppercase;
  }
}

.SkillsShowcase {
  margin: 2vmin;
  width: 50%;
  height: 100%;
  border-radius: 40px;
  border-left: 5px solid $secondaryColor;
  border-bottom: 3px solid $secondaryColor;

  p {
    font-size: calc(15px + 1.5vmin);
    text-align: left;
    margin: 3vmin;
  }
}

.OuterList {
  margin: 0 0 4vmin 0;
  font-size: calc(10px + 1.5vmin);
  text-align: left;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}

.InnerList {
  font-size: calc(5px + 1.5vmin);
  list-style: none;
  line-height: 3vmin;
  margin-bottom: 2vmin;

  li::before {
    content: "\2022";
    color: $secondaryColor;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
